.link {
  text-decoration: none;
  color: #333;
  width: fit-content;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
  margin: 1rem 0 0 1rem;

  svg {
    margin-right: .2rem;
  }

  &:hover {
    color: #333;
    border-bottom: 1px solid #333;
    cursor: pointer;
  }
}

.title {
  text-align: center;
}

.container {
  max-width: 900px;
  padding: 1rem;
  margin: 0 auto;
  color: #333;
}

h3{
  a {
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #fff;
  
    &:hover {
      border-bottom: 1px solid #333;
    }
  
    &:visited {
      color: #333;
      text-decoration: none;
    }
  }
}