.link {
  text-decoration: none;
  color: #fff;
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 1rem 0 0 1rem;

  svg {
    margin-right: .2rem;
  }

  &:hover {
    color: #fff;
    opacity: .5;
    cursor: pointer;
    text-decoration: none;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

.title {
  text-align: center;
}

.container {
  max-width: 900px;
  padding: 1rem;
  margin: 0 auto;
  color: #fff;
}

h3{
  a {
    text-decoration: none;
    color: #fff;
  
    &:hover {
      opacity: .5;
    }
  
    &:visited {
      color: #fff;
      text-decoration: none;
    }
  }
}

.project-links {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.1rem;
}

.project-link {
  text-decoration: none;
  color: #fff;
  width: fit-content;
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  padding: 5px 15px;

  &:hover {
    color: #fff;
    opacity: .5;
    cursor: pointer;
    text-decoration: none;
  }

  span {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
}
