.container {
  width: 900px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.project-card {
  width: 100%;
  height: 180px;
  display: flex;
  padding: .3rem;
  border-radius: 6px;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.1);  
}

.thumbnail {
  height: 100%;
  margin: 0;
  margin-right: 25px;
  border-radius: 5px;
}

.card-title {
  text-decoration: none;
  color: #777;
  margin-bottom: .5rem;
}

.info {
  height: 100%;
  p {
    margin: .5rem 0;
  }
}

.link {
  color: #777;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: #444;
  }
}

.project-links {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  p{
    margin: 0;
    padding: 0;
  }
}

.list {
  list-style-type: none;
}