.container {
  max-width: 900px;
  margin: 1rem auto;

  @media(max-width: 770px) {
    width: 100%;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;

  @media(max-width: 770px) {
    width: 90%;
  }
}

.title {
  text-align: center;
}

.name {
  border: 1px solid #999;
  padding: .3rem;
  margin-bottom: 1rem;
}

.email {
  border: 1px solid #999;
  padding: .3rem;
  margin-bottom: 1rem;
}

.message {
  resize: none;
  padding: .3rem;
  border: 1px solid #999;
  margin-bottom: 1rem;
}

.button {
  border: none;
  transition: all .1s;
  background-color: #333;
  color: #fff;
  border: 1px solid #fff;

  &:hover {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    cursor: pointer;
  }
}