.index-container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 10px;
}

.link {
  color: #fff;
  text-decoration: none;
  opacity: .5;

  &:hover {
    opacity: 1;
    color: #fff;
    text-decoration: none;
  }
}

.me {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wave {
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-name: wave-animation;
  display: inline-block;
  transform-origin: 70% 70%;
}



@media(max-width: 770px) {
  .index-container {
    max-width: 90%;
  }
  
  .me {
    flex-direction: column;
  }
}

