.index-container {
  max-width: 900px;
  margin: 2rem auto;

  @media(max-width: 770px) {
    max-width: 90%;
  }
}

.link {
  color: #777;
  text-decoration: none;
  padding-bottom: .1rem;
  border-bottom: 1px solid #fff;

  &:hover {
    color: #777;
    border-bottom: 1px solid #333;
  }
}