.container {
  max-width: 950px;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-top: 1rem;
}

.grid {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.project-card {
  margin: 10px;
  height: 150px;
  width: 100%;
  display: flex;  
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}

.card-title {
  text-decoration: none;
  color: #333;
  width: 100%;
  font-size: 1rem;
  font-weight: 700;

  &:hover {
    text-decoration: none;
  }
}

.card-image {
  width: 25%;
  height: 100%;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.button {
  width: 80%;
  margin: 10px auto;
  text-decoration: none;
  color: #333;
  padding: .1rem;
  border: 1px solid #333;
  transition: all .2s;

  &:hover {
    background-color: #333;
    color: #fff;
    text-decoration: none;
  }
}

.info {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    margin: 0;
  }
}

.link {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
    border-bottom: 1px solid #333;
    text-decoration: none;
    color: #333;
    text-decoration: none;
  }
}

.project-links {
  display: flex;
  justify-content: space-evenly;
  margin: .5rem;
  font-size: 1.1rem;
}

.list {
  list-style-type: none;
}

@media(max-width: 700px) {
  .grid {
    width: 90%;
    margin: 0 auto;
  }

  .project-card {
    flex-direction: column;
    margin: 0 auto;
    height: fit-content;

  }

  .card-image {
    width: 100%;
    height: 120px;
  }

  .info {
    width: 100%;
  }
}