.header {
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #333;

  @media(max-width: 760px) {
    flex-direction: column;
    padding-bottom: 0;
  }
}

.title {
  border: 1px solid #fff;
  padding: 1rem;
  margin: 0;

  a {
  color: #fff;
  text-decoration: none;
  }
}

.nav {
  width: 100%;
  margin-left: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media(max-width: 760px) {
    flex-direction: column;
    margin-left: 0;
    padding-top: 10px;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;

  li {
    margin: 0;
  }

  @media(max-width: 760px) {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
}

.socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;

  @media(max-width: 760px) {
    padding-top: 10px;
  }
}

.social-link {
  a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 2rem;
  }

  margin: 0;
}

.nav-link {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
  border-bottom: 1px solid #333;
  padding-bottom: .2rem;

  &:hover {
    border-bottom: 1px solid #fff;
  }

  @media(max-width: 760px) {
    margin: 0;
  }
}

.active {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: .2rem;
}